# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# Django
# =========================
*.log
db.sqlite3
media/
staticfiles/

# Migrations cache
*/migrations/__pycache__/

# =========================
# Django Secret & Env
# =========================
.env
.env.*
*.env

# =========================
# Pytest / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDEs & Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter / Temp
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log
